:root {
  --background-color: #e9a1a1;
  --color-secudary: rgb(242, 205, 205);
  --text-color: #252525;
  --slider-color: #ba7e7e;
  --color-primary: rgb(181, 25, 181);
  --light: #b0bfd8;
  --dark: #28292c;
}

.toggle-switch {
  position: relative;
  width: 100%;
  display: flex;
  outline: none;
}

.labelBtn {
  position: absolute;
  width: 16vh;
  height: 7vh;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

.theme {
  position: absolute;
  display: none;
}

.desliza {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.theme:checked~.desliza {
  background-color: var(--light);
}

.desliza::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 1vh;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.theme:checked~.desliza::before {
  transform: translateX(8vh);
  background-color: var(--dark);
  box-shadow: none;
}

body {
  background-color: var(--background-color);
  font-family: "Inter", sans- serif;
  color: var(--text-color);
  padding: 2rem;
}

main {
  max-width: 200vh;
  max-height: 10vh;
  margin: 0 auto;
}

.hero {
  text-align: center;
  padding-bottom: 3rem;
}

.hero .title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.hero .subtitle {
  font-size: 1.125rem;
  color: var(--text-color);
}

.box {
  background: var(--color-secudary);
  box-shadow: 0 1px 2px rgba(132, 148, 165, 0.1);
  border-radius: 8px;
  margin-bottom: 3rem;
}

.password {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;

}

span,
p {
  color: var(--text-color);
}

.password .text {
  flex: 1;
}

.password .text input {
  font-family: "Inconsolata", serif;
  font-size: 3rem;
  border: none;
  outline: none;
  cursor: default;
  height: 52px;
  width: 100%;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--text-color);
  background-color: var(--color-secudary);
}

.password .text input.font-sm {
  font-size: 2rem;
}

.password .text input.font-xs {
  font-size: 1.5rem;
}

.password .text input.font-xxs {
  font-size: 1rem;
}

.password .actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.security-indicator {
  height: 10px;
  background-color: var(--background-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.security-indicator .bar {
  height: 10px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  transition: all 0.2s;
}

.security-indicator .bar.completed {
  border-top-right-radius: 0;
}

.security-indicator .bar.critical {
  background-color: #eb5757;
}

.security-indicator .bar.warning {
  background-color: #f2c94c;
}

.security-indicator .bar.safe {
  background-color: #27ae60;
}

.customize {
  padding: 1rem 1.5rem;
}

.customize .title {
  border-bottom: 1px solid var(--text-color);
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-bottom: 0.75rem;
}

.customize .actions {
  display: flex;
  gap: 3rem;
  color: var(--color-secudary);
}

.customize .password-length {
  flex: 1;
}

.customize .password-length .slider {
  appearance: none;
  -webkit-appearance: none;
  height: 10px;
  background: var(--slider-color);
  outline: none;
  border-radius: 8px;
  width: 100%;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin-top: 1rem;
}

.customize .password-length .slider:hover {
  opacity: 1;
}

.customize .password-length .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: var(--color-primary);
  cursor: pointer;
}

.customize .password-length .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: var(--color-primary);
  cursor: pointer;
}

#projGL {
  padding: 10px;
}

.submit {
  align-items: center;
  text-align: center;
}

#github {
  border-radius: 8px;
  cursor: pointer;
  padding: 2px 2rem;
  transition: all 0.2s;
  border-color: var(--text-color);
  background-color: transparent;
  margin-bottom: 5vh;
  height: 10vh;
}

#github>a {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: var(--text-color);
  width: 10vh;
  height: 10vh;
}

#github:hover {
  border-color: #cc0000;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--slider-color);
  transition: all 0.2s;
}

.checkbox-container:hover input~.checkmark {
  background-color: var(--slider-color)
}

.checkbox-container input:checked~.checkmark {
  background-color: var(--color-primary);
}

.checkbox-container .checkmark:after {
  content: "";
  display: none;
  position: absolute;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 13px;
  border: solid var(--background-color);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-container input:checked~.checkmark:after {
  display: block;
}

@media only screen and (max-width: 480px) {
  .password {
    padding: 1rem;
  }

  .password .text input {
    font-size: 1.5rem;
  }

  .password .text input.font-sm {
    font-size: 1.2rem;
  }

  .password .text input.font-xs {
    font-size: 1rem;
  }

  .password .text input.font-xxs {
    font-size: 1rem;
  }

  .password .actions img {
    width: 24px;
  }

  .labelBtn {
    position: relative;
    margin-bottom: 100px;
    display: block;
    margin-top: -30px;
    margin-bottom: 20px;
    width: 10vh;
    height: 5vh;
    text-decoration: none;
    outline: 0;
  }

  .desliza::before {
    top: 3px;
    left: 1vh;
    width: 4vh;
    height: 4vh;
    outline: 0;
  }

  .toggle-switch {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }


  .theme:checked~.desliza::before {
    transform: translateX(4vh);
    outline: 0;
  }

}